name: 自动更新直播源

# 触发机制：每天北京时间早上 6:00 (UTC 22:00) 自动运行
on:
  schedule:
    - cron: '0 22 * * *'
  # 允许手动点按钮触发
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 创建目录
        run: mkdir -p live

      - name: 下载最新直播源 
        run: |
          wget https://gh-proxy.org/https://raw.githubusercontent.com/Jsnzkpg/Jsnzkpg/Jsnzkpg/Jsnzkpg1 -O live/my_live.m3u

      - name: 提交更改到仓库
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add live/my_live.m3u
          git commit -m "Auto update live source" || exit 0
          git push
